.footer{
    width: 1290px;
    height: 515px;
    margin-top: 50px;
    padding: 48px, 0px, 0px, 0px;
    gap: 48px;
    color: #FFFFFF;
    box-shadow: 130px 140px 250px 0px #0000002E;
    
}
.main-footer{
    width: 1290px;
    height: 258px;
    display: flex;
    justify-content: space-between;
    padding:0px, 100px, 0px, 100px;

}
.footer_company{
    width: 165px;
    height: 258px;
    gap: 20px;
    margin-left: 100px;

} 
.footer_company h3{
    width: 133px;
    height: 24px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #2D2D2D;
}
.footer_company p{
    width: 165px;
    height: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #2D2D2D;
}
.footer_doctors{
    width: 113px;
    height: 219px;
    gap: 20px;
}
.footer_doctors h3{
    width: 113px;
    height: 24px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #2D2D2D;

}
.footer_doctors p{
    width: 96px;
    height: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #2D2D2D;
}
.footer_pharmacy{
    width: 134px;
    height: 180px;
    gap: 20px;

}
.footer_pharmacy h3{
    width: 134px;
    height: 24px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #2D2D2D;

}
.footer_pharmacy p{
    width: 92px;
    height: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #2D2D2D;
}
.footer_lab{
    width: 99px;
    height: 180px;
    gap: 20px;
}
.footer_lab h3{
    width: 72px;
    height: 24px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #2D2D2D;
}
.footer_lab p{
    width: 99px;
    height: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #2D2D2D;
}
.footer_social{
    width: 76px;
    height: 219px;
    gap: 20px;
}
.footer_social h3{
    width: 72px;
    height: 24px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #2D2D2D;
}
.footer_social p{
    width: 75px;
    height: 19px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    color: #2D2D2D;
}
.button{
    width: 1290px;
    height: 36px;

    margin-top: 100px;
}
.button p{
    width: 119px;
    height: 30px;
    margin-left: 100px;
    gap: 56px;
    opacity: 80%;
    font-family: 'Inter';
    font-weight: 500;
    line-height: 24.2px;
    color: #FFFFFF;
    background-color: #0097DB;
    text-align: center;
    border-radius: 5px;
}
.footer_bottom{
    width: 1290px;
    height: 37px;
    padding: 8px, 0px, 8px, 0px;
    background-color: #0097DB;
    margin-top: 80px;
    text-align: center;
    padding-top: 0.01px;
}
.footer_bottom p{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}